{
    "command": "/usr/local/bin/kolla_ovn_set_compute  --ovn --controller-ip {{ database_alias_ip }} --host-ip  --device {{ database_device }}",
}

controller-ip: {{ database_alias_ip }}
host-cidr: {{ item.1 }}/ {{ dmi_data['prefixlen'] }}
device: {{ ovn_database_device}}
