{
    "version": 2,
    "title": "Create sandbox",
    "subtasks": [{
        "title": "Create sandbox on farm 0",
        "workloads": [{
            "name": "OvnSandbox.create_sandbox",
            "args": {
                {% for farm_index in dmi_data['farm_index'] %}
                "sandbox_create_args": {
                    "farm": "ovn-farm-node-{{ hostvars[groups['emulation-hosts'][farm_index | int]]['ansible_hostname'] }}",
                    "amount": {{  dmi_data['num_sandbox_farm'][loop.index0] }},
                    "batch" : 1,
                    "start_cidr": "{{ dmi_data['start_cidr_farm'][loop.index0] }}/{{ dmi_data['prefixlen'] }}",
                    "net_dev": "{{ ovn_chassis_device }}",
                    "tag": "ToR1"
                }
                {% endfor %}
            },
            "runner": {"type": "serial", "times": 1},
            "context": {
                "ovn_multihost" : { "controller": "ovn-controller-node"}
            }
        }]
    }]
}
