{
    "version": 2,
    "title": "Create OVN logical network",
    "subtasks": [
    {
        "title": "Create OVN logical network",
        "workloads": [
        {
            "name": "OvnNetwork.create_networks",
            "args": {
                "network_create_args": {
                    "amount": {{ network_number }},
                    "start_cidr": "{{ network_start_cidr }}",
                    "physical_network": "providernet",
                    "batch": {{ networks_created_batch_size }}
                }
            },
            "runner": {"type": "serial", "times": 1},
            "context": {
                "ovn_multihost" : {"controller": "ovn-controller-node"}
            }
        }]
    }]
}
